div.timer {
    position: absolute;
    top: 20px;
    right: 20px;
}

div.timer > span {
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.board-cell {
    width: 19%;
    font-size: 48px;
    height: 210px;
    overflow: hidden;
}

.warning {
    background-color: lightyellow;
}
