table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

.board-cell {
    position: relative;
    text-align: center;
    border: 1px solid black;
}

div.option {
    display: inline;
    margin: 0px 10px;
}

div.sub-options {
    margin: 0px 10px;
}

.collapse {
    display: inline;
}

#collapseSettings {
    cursor: pointer;
}

.alignBottom {
    position: absolute;
    bottom: 0px;
}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tiny {
    font-size: x-small;
}