table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

.board-cell {
    width: 24%;
    text-align: center;
    border: 1px solid black;
}

div.option {
    display: inline;
    margin: 0px 10px;
}

div.sub-options {
    margin: 0px 10px;
}

.collapse {
    display: inline;
}